article.block-person
	.block-person-left
		+jpg('agent-page-01-650x756')
	.block-person-body
		h3.block-person-title Sam Wilson
		p.block-person-cite Real Estate Broker
		ul.block-person-list
			li
				.block-person-link
					span.icon.mdi.mdi-phone
					a(href='tel:#') + 123 098 890 76 56
			li
				.block-person-link
					span.icon.mdi.mdi-email-outline
					a.text-spacing-50(href='mailto:#') info@demolink.org
			li
				ul.list-inline-1
					li: a.icon.fa-facebook(href='#')
					li: a.icon.fa-twitter(href='#')
					li: a.icon.fa-google-plus(href='#')
					li: a.icon.fa-pinterest-p(href='#')
		p Being a full time real estate broker for over 15 years has given Sam the opportunity to work with the most wonderful clients.
