.row.row-10
	.col-6.col-md-3
		ul.list-sm
			li
				label.checkbox-inline
					input(name='checkbox-1' value='checkbox-1' type='checkbox')
					| 2 Stories
			li
				label.checkbox-inline
					input(name='checkbox-2' value='checkbox-2' type='checkbox')
					| Basketball Court
			li
				label.checkbox-inline
					input(name='checkbox-3' value='checkbox-3' type='checkbox')
					| Gym
			li
				label.checkbox-inline
					input(name='checkbox-4' value='checkbox-4' type='checkbox')
					| Fireplace
	.col-6.col-md-3
		ul.list-sm
			li
				label.checkbox-inline
					input(name='checkbox-5' value='checkbox-5' type='checkbox')
					| Sprinklers
			li
				label.checkbox-inline
					input(name='checkbox-6' value='checkbox-6' type='checkbox')
					| Private Space
			li
				label.checkbox-inline
					input(name='checkbox-7' value='checkbox-7' type='checkbox')
					| Balcony
			li
				label.checkbox-inline
					input(name='checkbox-8' value='checkbox-8' type='checkbox')
					| Laundry
	.col-6.col-md-3
		ul.list-sm
			li
				label.checkbox-inline
					input(name='checkbox-9' value='checkbox-9' type='checkbox')
					| Ocean View
			li
				label.checkbox-inline
					input(name='checkbox-10' value='checkbox-10' type='checkbox')
					| Central Heating
			li
				label.checkbox-inline
					input(name='checkbox-11' value='checkbox-11' type='checkbox')
					| Lawn
			li
				label.checkbox-inline
					input(name='checkbox-12' value='checkbox-12' type='checkbox')
					| Outdoor Area
	.col-6.col-md-3
		ul.list-sm
			li
				label.checkbox-inline
					input(name='checkbox-13' value='checkbox-13' type='checkbox')
					| Wi-Fi
			li
				label.checkbox-inline
					input(name='checkbox-14' value='checkbox-14' type='checkbox')
					| Gym
			li
				label.checkbox-inline
					input(name='checkbox-15' value='checkbox-15' type='checkbox')
					| Home Theater
			li
				label.checkbox-inline
					input(name='checkbox-16' value='checkbox-16' type='checkbox')
					| Parking Lot
