include ../components/_ui-block-agent

.row.row-30
	.col-sm-6.col-lg-3
		+block-agent({
			img: 'agents-01-540x460',
			title: 'Michael Rutter',
			text: 'Certified Real Estate Broker'
		})
	.col-sm-6.col-lg-3
		+block-agent({
			img: 'agents-02-540x460',
			title: 'Janet Richmond',
			text: 'Residential Real Estate Broker'
		})
	.col-sm-6.col-lg-3
		+block-agent({
			img: 'agents-03-540x460',
			title: 'Sam Wilson',
			text: 'Real Estate Broker'
		})
	.col-sm-6.col-lg-3
		+block-agent({
			img: 'agents-04-540x460',
			title: 'Mary Peterson',
			text: 'Real Estate Broker'
		})