article.block-callboard
	.block-callboard-body
		h3.block-callboard-title Get a Free Consultation
		.block-callboard-divider
		.block-callboard-text: p If you have any questions, just call or email us, and we will answer you shortly.
		ul.block-callboard-list
			li: .block-callboard-tell: a(href='tell:#') + 123 098 890 76 56
			li: .block-callboard-mail: a(href='mailto:#') mail@demolink.org
		a.button.button-block.button-secondary(href='contact-us.html') Contact us
