extends  ../_skeleton

//- Includes

block variables
	- var activeCategory = 'pages'
	- var pageName = '404'

block page
	include ../sections/_header-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'breadcrumbs-bg-02-1922x977',
		data: '45'
	})
	
	section.section.section-md.bg-default.text-center
		.container
			h2.text-spacing-20 Page Not Found
			p.heading-5 You may have mistyped the address or the page may have moved
			a.button.button-primary(href='index.html') Go to Homepage



	// Page Footer
	include ../sections/_footer-classic
