extends  ../_skeleton

//- Includes
include ../components/_ui-block-agent-horizontal
include ../components/_ui-product-classic
	
block variables
	- var activeCategory = 'pages'
	- var pageName = 'Single Agent'

block page
	include ../sections/_header-classic
		
	+breadcrumbs({
		pageName: 'Sam Wilson',
		category: activeCategory,
		path: [pageName],
		bgImage: 'breadcrumbs-bg-04-1922x367',
		data: '37'
	})

	// Section Agent Single
	section.section.section-md.bg-gray-12
		.container
			.row.row-30
				.col-lg-7.col-xl-8
					.row.row-60
						.col-12
							include ../includes/_block-person
									
						.col-12
							h3 Get A Quick Quote
							form.rd-form.rd-mailform.form-borderless(
							data-form-output='form-output-global'
							data-form-type='contact'
							method='post'
							action='bat/rd-mailform.php')
								.row.row-24
									.col-md-6
										.form-wrap
											input#contact-name-re.form-input(type='text' name='first-name' data-constraints='@Required')
											label.form-label(for='contact-name-re') First Name
									.col-md-6
										.form-wrap
											input#contact-last-name-re.form-input(type='text' name='last-name' data-constraints='@Required')
											label.form-label(for='contact-last-name-re') Last Name
									.col-md-6
										.form-wrap
											input#contact-phone-re.form-input(type='text' name='phone' data-constraints='@PhoneNumber')
											label.form-label(for='contact-phone-re') Phone
									.col-md-6
										.form-wrap
											input#contact-email-re.form-input(type='email' name='email' data-constraints='@Email @Required')
											label.form-label(for='contact-email-re') E-mail
									.col-12
										.form-wrap
											label.form-label(for='contact-message-re') Message
											textarea#contact-message-re.form-input(name='message' data-constraints='@Required')
									.col-md-12
										button.button.button-secondary(type='submit') Send message
						.col-12
							h3 My Listings
							.row.row-30
								.col-md-6.col-lg-12.col-xl-6
									+product-classic({ 
										images: [
											'featured-properties-01-480x287', 
											'featured-properties-02-480x287', 
											'featured-properties-03-480x287',
											'featured-properties-04-480x287'],
										price: '$5000\\mo',
										title: '401 Biscayne Boulevard, Miami',
										sq: '480',
										bathrooms: '2',
										bedrooms: '2',
										garage: '1'
									})
								.col-md-6.col-lg-12.col-xl-6
									+product-classic({
										images: [
											'featured-properties-05-480x287', 
											'featured-properties-06-480x287', 
											'featured-properties-07-480x287',
											'featured-properties-08-480x287'],
										price: '$2500\\mo',
										title: '923 Folsom St, San Francisco',
										sq: '535',
										bathrooms: '2',
										bedrooms: '3',
										garage: '1'
									})
				.col-lg-5.col-xl-4
					include ../includes/_agent-sidebar-right


	include ../sections/_footer-classic
