extends  ../_skeleton

block variables
	- var activeCategory = 'contacts'
	- var pageName = 'Contact Us'

block page 
	// Page Header
	include ../sections/_header-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'breadcrumbs-bg-07-1920x420'
	})

	include ../sections/_section-contacts

	// Page Footer
	include ../sections/_footer-classic
