<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>each house </title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900%7CRoboto:300,400,500,700,900">
    <link rel="stylesheet" href="../static/mo/site/css/bootstrap.css">
    <link rel="stylesheet" href="../static/mo/site/css/style.css">
    <link rel="stylesheet" href="../static/mo/site/css/fonts.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>

    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="../static/css/agency.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->
    <script src="../static/jsme/personal_info.js"></script>
      <!--from index-->
      <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
        rel="stylesheet">
      <!--<link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">-->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
      <link rel="stylesheet" href="../static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">

    <style>
        .button3 {
        background-color: #fed136; 
        color: white; 
        border: 2px solid white;
        }

        .button3:hover {
        background-color: #f44336;
        color: white;
        }
    </style>

    <script Language="Javascript" src="../static/jsme/logt.js"></script>

  </head>
<body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader loaded">
      <div class="banter-loader">
        <div class="banter-loader__box"> </div>
        <div class="banter-loader__box"> </div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
              <!-- RD Navbar-->
              <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                  <!--<div class="rd-navbar-aside-outer">-->
                    <!--<div class="rd-navbar-aside">-->
                      <!--<div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>-->
                      <!--<ul class="rd-navbar-aside-list rd-navbar-collapse">-->
                        <!--<li>-->
                          <!--<div class="block-inline unit unit-spacing-xs align-items-center">-->
                            <!--<div class="unit-left"><span class="icon text-middle mdi mdi-email-outline"></span></div>-->
                            <!--<div class="unit-body"><a href="mailto:#">yujie.liu@student.unsw.edu.au</a></div>-->
                          <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                          <!--<div class="block-inline unit unit-spacing-xs align-items-center">-->
                            <!--<div class="unit-left"><span class="icon text-middle mdi mdi-email-outline"></span></div>-->
                            <!--<div class="unit-body"><a href="mailto:#">xilan.yuan@student.unsw.edu.au</a></div>-->
                          <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                          <!--<div class="block-inline unit unit-spacing-xs align-items-center">-->
                            <!--<div class="unit-left"><span class="icon text-middle mdi mdi-email-outline"></span></div>-->
                            <!--<div class="unit-body"><a href="mailto:#">hang.su@student.unsw.edu.au</a></div>-->
                          <!--</div>-->
                        <!--</li>-->
                      <!--</ul>-->
                    <!--</div>-->
                  <!--</div>-->
                  <div class="rd-navbar-main-outer">
                    <div class="rd-navbar-main">
                      <!-- RD Navbar Panel-->
                      <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <a class="navbar-brand page-scroll" href="#page-top">trip NSW</a>

                      </div>
                      <div class="rd-navbar-nav-wrap">
                        <!-- RD Navbar Nav-->
                        <ul class="rd-navbar-nav">
                          <li class="rd-nav-item"><a class="nav navbar-nav navbar-right" href="#" onclick="tomain()" >Home</a>
                          </li>
                          <!--<li class="rd-nav-item"><a class="nav navbar-nav navbar-right" href="favorites.html">Favorites</a>-->
                          <!--</li>-->
                          <li class="rd-nav-item"><a class="nav navbar-nav navbar-right" href="#">hi,{{nameh}}</a>
                              {% if nologh==1 %}
                            <ul class="rd-menu rd-navbar-dropdown">
                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#" onclick="check_info()" >View Profile</a></li>
                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/tripnsw">Logout</a></li>
                            </ul>
                              {%endif%}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
      </header>

        <!--from index-->
        <div class="single-property">
        <div class="container">
            <div class="row spad-p">
                <div class="col-lg-12">
                    <div class="property-title">
                        <h3>{{h_title}}</h3>
                        <a href="#"><i class="fa flaticon-placeholder" id='gaddr'></i>{{h_addr}},{{h_surburb}}</a>
                    </div>
                    <div class="property-price">
                        <p>For Each night</p>
                        <span>AU$ {{h_price}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="property-img owl-carousel">
                        {% for y in pich %}
                        <div class="single-img">
                            <img src="../static/imghouse/{{y}}" alt="">
                        </div>

                        {%endfor%}
                    </div>

                </div>
            </div>
        </div>
    </div>
        <section class="property-details">
        <div class="container">
            <div class="row sp-40 spt-40">
                <div class="col-lg-8">
                    <div class="p-ins">
                        <div class="row details-top">
                            <div class="col-lg-12">
                                <div class="t-details">
                                    <div class="register-id">
                                        <p>longitude: <span>{{h_long}}</span></p>
                                        <p>latitude: <span>{{h_lat}}</span></p>
                                    </div>
                                    <div class="popular-room-features single-property">
                                        <div class="size">
                                            <p>Lot Size</p>
                                            <img src="../static/img/rooms/size.png" alt="">
                                            <i class="flaticon-bath"></i>
                                            <span>{{h_size}} sqft</span>
                                        </div>
                                        <div class="beds">
                                            <p>Capacity</p>
                                            <img src="../static/img/rooms/bed.png" alt="">
                                            <span>{{h_cap}}</span>
                                        </div>
                                        <div class="baths">
                                            <p>Baths</p>
                                            <img src="../static/img/rooms/bath.png" alt="">
                                            <span>2</span>
                                        </div>
                                        <div class="garage">
                                            <p>Garage</p>
                                            <img src="../static/img/rooms/garage.png" alt="">
                                            <span>1</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="property-description">
                                    <h4>Description</h4>
                                    <p>{{desh}} </p>
                                </div>
                                <div class="property-features">
                                    <h4>Property Features</h4>
                                    <div class="property-table">
                                        <table>
                                            {% for x in serviceh %}
                                            <tr>
                                                <td><img src="../static/img/check.png" alt=""> {{x}}</td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                                <div class="location-map">
                                    <h4>Location</h4>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d107002.020096289!2d-96.80666618302782!3d33.06138629992991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c21da13c59513%3A0x62aa036489cd602b!2sPlano%2C+TX%2C+USA!5e0!3m2!1sen!2sbd!4v1558246953339!5m2!1sen!2sbd" allowfullscreen></iframe>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row pb-30">
                        <div class="col-lg-12">
                            <div class="contact-service">
                                <img src="../static/imghead/{{photoh}}" alt="">
                                <p>Listed by</p>
                                <h5>{{ownerh}}</h5>
                                <table>

                                    <tr>
                                        <td>Email : <span>{{emailh}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><span style = "text-align:justify;padding-left: 40px; padding-right: 40px;">Description :{{desuh}}
                                        </span></td>
                                    </tr>
                                </table>
                                <script typet="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
                            

                               <!--  <button class="site-btn btn-primary button3"><i class="fa fa-thumbs-up"></i>Like</button> -->
                                {% if nologh==1 %}
                                <a class="site-btn btn-primary button3" onclick="add_like()"/><i class="fa fa-thumbs-up"></i>Like</a>
                                <a href="#" class="site-btn list-btn" onclick="topay()">Pay Now</a>
                                {% endif %}


<!--                            <input type="button" value=“Like” class="site-btn btn-primary button3 fa fa-thumbs-up" οnclick="MsgBox()" />
                                <script language="javascript">
                                function MsgBox() //声明标识符
                                {
                                alert("我是对话框的内容"); //弹出对话框
                                }
                                </script> -->


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
                <h3 class="col-lg-4 col-md-6">Comments</h3>
                <br />
                <ul class="comment-list">
                    {% for x in commenth%}
                    <li class="comment">
                    <div class="vcard bio">
                    <br />

                    </div>
                    <div class="comment-body">
                      <h3>{{x[0]}}</h3>
                      <!--<div class="meta">October 03, 2018 at 2:21pm</div>-->
                      <p>{{x[1]}}</p>
                      <!-- <p><a href="#" class="reply">Reply</a></p> -->
                    </div>
                  </li>
                    {%endfor%}
                </ul>
                <!-- END comment-list -->
                {% if nologh==1 %}
                <div class="comment-form-wrap pt-5">
                  <h3 class="mb-5">Leave a comment</h3>
                  <!--<form action="#" class="p-5 bg-light">-->

                    <div class="form-group">
                      <label for="message">Message</label>
                      <textarea type="text" name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                      <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary" onclick="sub_comment()">
                    </div>
    
                  <!--</form>-->
                </div>
                {% endif %}
        </div>
    </section>




        <!-- Pre footer section-->
      <section class="section section-md bg-gray-31 context-dark">
        <div class="container">
          <div class="row row-40 justify-content-lg-between">
            <!--<div class="col-md-6 col-lg-4 col-xl-3">-->
              <!--<h3 class="heading-square font-weight-sbold" data-item=".heading-square-item"><span class="heading-square-item"></span>Latest Properties</h3><a class="post-minimal" href="details.html">-->
                <!--<div class="post-minimal-image"><img src="../static/mo/site/images/post-minimal-01-161x136.jpg" alt="" width="161" height="136"/>-->
                <!--</div>-->
                <!--<div class="post-minimal-body">-->
                  <!--<div class="post-minimal-title"><span> Retail Store Southwest 186th Street</span></div>-->
                  <!--<div class="post-minimal-text"><span>From $120/month</span></div>-->
                <!--</div></a><a class="post-minimal" href="details.html">-->
                <!--<div class="post-minimal-image"><img src="../static/mo/site/images/post-minimal-02-161x136.jpg" alt="" width="161" height="136"/>-->
                <!--</div>-->
                <!--<div class="post-minimal-body">-->
                  <!--<div class="post-minimal-title"><span> Apartment Building with Subunits</span></div>-->
                  <!--<div class="post-minimal-text"><span>From $120/month</span></div>-->
                <!--</div></a>-->
            <!--</div>-->
            <div class="col-md-6 col-lg-4 col-xl-3 col-bordered">
              <h3 class="heading-square font-weight-sbold" data-item=".heading-square-item"><span class="heading-square-item"></span>Contact	Us</h3>
              <div class="link-with-icon text-spacing-100" data-item=".icon"><span class="icon icon-2 mdi mdi-email-outline"></span><a href="mailto:#">yujie.liu@student.unsw.edu.au</a></div>
              <div class="link-with-icon text-spacing-100" data-item=".icon"><span class="icon icon-2 mdi mdi-email-outline"></span><a href="mailto:#">xilan.yuan@student.unsw.edu.au</a></div>
              <div class="link-with-icon text-spacing-100" data-item=".icon"><span class="icon icon-2 mdi mdi-email-outline"></span><a href="mailto:#">hang.su@student.unsw.edu.au</a></div>
            </div>
            <div class="col-lg-4">
              <h3 class="heading-square font-weight-sbold" data-item=".heading-square-item"><span class="heading-square-item"></span>Newsletter Signup</h3>
              <p class="rd-mailform-label">Enter your e-mail to get the latest news of Real Estate</p>
              <form class="rd-form rd-mailform rd-form-inline-1" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                <div class="form-wrap">
                  <input class="form-input" id="subscribe-form--email" type="email" name="email" data-constraints="@Email @Required">
                  <label class="form-label" for="subscribe-form--email">Your e-mail</label>
                </div>
                <div class="form-button">
                  <button class="button button-primary button-square" type="submit">Subscribe</button>
                </div>
              </form>
              <ul class="list-inline-1">
                <li><a class="icon fa-facebook" href="#"></a></li>
                <li><a class="icon fa-twitter" href="#"></a></li>
                <li><a class="icon fa-google-plus" href="#"></a></li>
                <li><a class="icon fa-pinterest-p" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Page footer-->
      <footer class="section footer-classic context-dark bg-gray-21">
        <div class="container">
          <div class="row row-10 justify-content-sm-between">
            <div class="col-sm-6">
              <!-- Rights-->
              <p class="rights"><span>tripNSW</span> <span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><a href="details.html">Privacy Policy</a>
              </p>
            </div>
            <div class="col-sm-6 text-sm-right">
              <div class="right-1"><a href="up-ad.html"><span class="icon mdi mdi-plus"></span>Submit Property</a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="../static/mo/site/js/core.min.js"></script>
    <script src="../static/mo/site/js/script.js"></script>
    <!--from index-->
    <!--<script src="../static/js/jquery-3.3.1.min.js"></script>-->
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.nice-select.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/jquery-ui.min.js"></script>
    <script src="../static/js/jquery.slicknav.js"></script>
    <script src="../static/js/main.js"></script>

</body>
</html>