<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>favorites</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900%7CRoboto:300,400,500,700,900">
    <link rel="stylesheet" href="../static/mo/site/css/bootstrap.css">
    <link rel="stylesheet" href="../static/mo/site/css/style.css">
    <link rel="stylesheet" href="../static/mo/site/css/fonts.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>

    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="../static/css/agency.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->
    <script src="../static/jsme/personal_info.js"></script>

  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader loaded">
      <div class="banter-loader"> 
        <div class="banter-loader__box"> </div>
        <div class="banter-loader__box"> </div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
              <!-- RD Navbar-->
              <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                  <!--<div class="rd-navbar-aside-outer">-->
                    <!--<div class="rd-navbar-aside">-->
                      <!--<div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>-->
                      <!--<ul class="rd-navbar-aside-list rd-navbar-collapse">-->
                        <!--<li>-->
                          <!--<div class="block-inline unit unit-spacing-xs align-items-center">-->
                            <!--<div class="unit-left"><span class="icon text-middle mdi mdi-email-outline"></span></div>-->
                            <!--<div class="unit-body"><a href="mailto:#">yujie.liu@student.unsw.edu.au</a></div>-->
                          <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                          <!--<div class="block-inline unit unit-spacing-xs align-items-center">-->
                            <!--<div class="unit-left"><span class="icon text-middle mdi mdi-email-outline"></span></div>-->
                            <!--<div class="unit-body"><a href="mailto:#">xilan.yuan@student.unsw.edu.au</a></div>-->
                          <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                          <!--<div class="block-inline unit unit-spacing-xs align-items-center">-->
                            <!--<div class="unit-left"><span class="icon text-middle mdi mdi-email-outline"></span></div>-->
                            <!--<div class="unit-body"><a href="mailto:#">hang.su@student.unsw.edu.au</a></div>-->
                          <!--</div>-->
                        <!--</li>-->
                      <!--</ul>-->
                    <!--</div>-->
                  <!--</div>-->
                  <div class="rd-navbar-main-outer">
                    <div class="rd-navbar-main">
                      <!-- RD Navbar Panel-->
                      <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <a class="navbar-brand page-scroll" href="#page-top">trip NSW</a>

                      </div>
                      <div class="rd-navbar-nav-wrap">
                        <!-- RD Navbar Nav-->
                        <ul class="rd-navbar-nav">
                          <li class="rd-nav-item"><a class="nav navbar-nav navbar-right" href="#" onclick="tomain()">Home</a>
                          </li>
                          <li class="rd-nav-item"><a class="nav navbar-nav navbar-right" href="#" onclick="jump_ad()">Submit Property</a>
                          </li>
                          <!--<li class="rd-nav-item"><a class="nav navbar-nav navbar-right" href="favorites.html">Favorites</a>-->
                          <!--</li>-->
                          <li class="rd-nav-item"><a class="nav navbar-nav navbar-right" href="#">{{nameh}}</a>
                            <ul class="rd-menu rd-navbar-dropdown">
                              <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#" onclick="check_info()">View Profile</a></li>
                              <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/tripnsw">Logout</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
      </header>
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom bg-image context-dark" data-opacity="37" style="background-image: url(../static/mo/site/images/breadcrumbs-bg-06-1922x427.jpg);">
        <div class="container">
          <h2 class="breadcrumbs-custom-title">Favorites</h2>
        </div>
      </section>
      <div class="divider-section"></div>
      <!-- Properties List-->
      <section class="section section-md bg-gray-12">
        <div class="container">
          <div class="row row-50">
            <!-- next line should be 7 and 8 --------------------------------------------------------------------->
            <div class="col-lg-20 col-xl-20">
              <div class="row row-30">
                <div class="col-sm-12">
                  <!--<ul class="block-info-1">-->
                    <!--<li>-->
                      <!--<div class="form-wrap-group-1">-->
                        <!--<div class="form-wrap">-->
                          <!--<select class="form-input select-filter" data-style="modern" data-placeholder="Publication Date" data-minimum-results-for-search="Infinity" data-constraints="@Required">-->
                            <!--<option label="placeholder"></option>-->
                            <!--<option value="2">Monday</option>-->
                            <!--<option value="3">Tuesday</option>-->
                            <!--<option value="4">Wednesday</option>-->
                            <!--<option value="5">Thursday</option>-->
                            <!--<option value="6">Friday</option>-->
                            <!--<option value="7">Saturday</option>-->
                            <!--<option value="8">Sunday</option>-->
                          <!--</select>-->
                        <!--</div>-->
                        <!--<div class="form-wrap">-->
                          <!--<select class="form-input select-filter" data-style="modern" data-placeholder="Price Low to High" data-minimum-results-for-search="Infinity" data-constraints="@Required">-->
                            <!--<option label="placeholder"></option>-->
                            <!--<option value="1">Price Low to High</option>-->
                            <!--<option value="2">Price High to Low</option>-->
                            <!--<option value="3">Most Popular</option>-->
                            <!--<option value="4">Top Rated</option>-->
                            <!--<option value="5">Best Sellers</option>-->
                          <!--</select>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</li>-->
                    <!--&lt;!&ndash; <li>-->
                      <!--<ul class="list-layout">-->
                        <!--<li><a class="icon icon-2 fa-reorder active" href="#"></a></li>-->
                        <!--<li><a class="icon icon-2 mdi mdi-view-grid" href="properties-grid.html"></a></li>-->
                      <!--</ul>-->
                    <!--</li> &ndash;&gt;-->
                    <!--<li>-->
                      <!--<ul class="list-layout">-->
                        <!--<li><div class="icon icon-2 fa-reorder"></div></li>-->
                      <!--</ul>-->
                    <!--</li>-->
                  <!--</ul>-->
                </div>
                <div class="col-sm-12">
                  <div class="row row-50 row-lg-70">
                    <!-- next line should be 12   ------------------------------------------------------------->
                    {%if hv_likeh==1%}
                    {% for x in housesh%}
                    <div class="col-12" >
                      <article class="product-classic product-classic-horizontal">
                        <div class="product-classic-inner">
                          <div class="product-classic-left">
                            <div class="product-classic-media">
                              <!--<div class="owl-carousel" data-items="1" data-nav="true" data-stage-padding="0" data-loop="true" data-margin="0" data-mouse-drag="false">
                                <img src="../static/mo/site/images/featured-properties-13-480x287.jpg" alt="" width="480" height="287"/>
                                <img src="../static/mo/site/images/featured-properties-14-480x287.jpg" alt="" width="480" height="287"/>
                                <img src="../static/mo/site/images/featured-properties-15-480x287.jpg" alt="" width="480" height="287"/>
                                <img src="../static/mo/site/images/featured-properties-16-480x287.jpg" alt="" width="480" height="287"/>-->

                                <div class="owl-carousel" data-items="1" data-nav="true" data-stage-padding="0" data-loop="true" data-margin="0" data-mouse-drag="false">
                                {% for y in x[7] %}
                                    <img src="../static/imghouse/{{y}}" alt="" width="480" height="287"/ >
                                {%endfor%}
                              </div>
                              <div class="product-classic-price"><span>${{x[6]}}\mo</span></div>
                            </div>
                          </div>
                          <div class="product-classic-right">
                            <h4 class="product-classic-title"><a href="#" onclick="check_detail()" id="house_id">{{x[0]}}</a></h4>
                            <div class="product-classic-divider"></div>
                            <div class="product-classic-text">
                              <p>{{x[1]}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="blog-post-solo-footer">
                          <div class="blog-post-solo-footer-left">
                            <ul class="product-classic-list">
                              <li><span class="icon hotel-icon-10"></span><span>{{x[2]}} Bathrooms</span></li>
                              <li><span class="icon hotel-icon-05"></span><span>{{x[4]}} Capacity</span></li>
                              <li><span class="icon mdi mdi-vector-square"></span><span>{{x[3]}} Sq Ft</span></li>
                              <li><span class="icon hotel-icon-26"></span><span>{{x[5]}} Garage</span></li>
                            </ul>
                          </div>
                          <div class="blog-post-solo-footer-right">
                            <a class="button button-sm button-secondary" href="#" onclick="delete_house('{{x[0]}}')">DELETE ITEM</a>
                          </div>
                        </div>
                      </article>
                    </div>
                    {%endfor%}
                    {%else %}
                      <p>There is no house in your favorite list.</p>
                    {% endif%}

                  </div>
                </div>
                <div class="col-sm-12">
                  <ul class="pagination-custom">
                    <li><a class="active" href="#">1</a></li>
                    <!--<li><a href="#">2</a></li>-->
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <!-- Pre footer section-->
      <section class="section section-md bg-gray-31 context-dark">
        <div class="container">
          <div class="row row-40 justify-content-lg-between">
            <!--<div class="col-md-6 col-lg-4 col-xl-3">-->
              <!--<h3 class="heading-square font-weight-sbold" data-item=".heading-square-item"><span class="heading-square-item"></span>Latest Properties</h3><a class="post-minimal" href="details.html">-->
                <!--<div class="post-minimal-image"><img src="../static/mo/site/images/post-minimal-01-161x136.jpg" alt="" width="161" height="136"/>-->
                <!--</div>-->
                <!--<div class="post-minimal-body">-->
                  <!--<div class="post-minimal-title"><span> Retail Store Southwest 186th Street</span></div>-->
                  <!--<div class="post-minimal-text"><span>From $120/month</span></div>-->
                <!--</div></a><a class="post-minimal" href="details.html">-->
                <!--<div class="post-minimal-image"><img src="../static/mo/site/images/post-minimal-02-161x136.jpg" alt="" width="161" height="136"/>-->
                <!--</div>-->
                <!--<div class="post-minimal-body">-->
                  <!--<div class="post-minimal-title"><span> Apartment Building with Subunits</span></div>-->
                  <!--<div class="post-minimal-text"><span>From $120/month</span></div>-->
                <!--</div></a>-->
            <!--</div>-->
            <div class="col-md-6 col-lg-4 col-xl-3 col-bordered">
              <h3 class="heading-square font-weight-sbold" data-item=".heading-square-item"><span class="heading-square-item"></span>Contact	Us</h3>
              <div class="link-with-icon text-spacing-100" data-item=".icon"><span class="icon icon-2 mdi mdi-email-outline"></span><a href="mailto:#">yujie.liu@student.unsw.edu.au</a></div>
              <div class="link-with-icon text-spacing-100" data-item=".icon"><span class="icon icon-2 mdi mdi-email-outline"></span><a href="mailto:#">xilan.yuan@student.unsw.edu.au</a></div>
              <div class="link-with-icon text-spacing-100" data-item=".icon"><span class="icon icon-2 mdi mdi-email-outline"></span><a href="mailto:#">hang.su@student.unsw.edu.au</a></div>
            </div>
            <div class="col-lg-4">
              <h3 class="heading-square font-weight-sbold" data-item=".heading-square-item"><span class="heading-square-item"></span>Newsletter Signup</h3>
              <p class="rd-mailform-label">Enter your e-mail to get the latest news of Real Estate</p>
              <form class="rd-form rd-mailform rd-form-inline-1" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                <div class="form-wrap">
                  <input class="form-input" id="subscribe-form--email" type="email" name="email" data-constraints="@Email @Required">
                  <label class="form-label" for="subscribe-form--email">Your e-mail</label>
                </div>
                <div class="form-button">
                  <button class="button button-primary button-square" type="submit">Subscribe</button>
                </div>
              </form>
              <ul class="list-inline-1">
                <li><a class="icon fa-facebook" href="#"></a></li>
                <li><a class="icon fa-twitter" href="#"></a></li>
                <li><a class="icon fa-google-plus" href="#"></a></li>
                <li><a class="icon fa-pinterest-p" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Page footer-->
      <footer class="section footer-classic context-dark bg-gray-21">
        <div class="container">
          <div class="row row-10 justify-content-sm-between">
            <div class="col-sm-6">
              <!-- Rights-->
              <p class="rights"><span>tripNSW</span> <span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><a href="details.html">Privacy Policy</a>
              </p>
            </div>
            <div class="col-sm-6 text-sm-right">
              <div class="right-1"><a href="up-ad.html"><span class="icon mdi mdi-plus"></span>Submit Property</a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output -->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="../static/mo/site/js/core.min.js"></script>
    <script src="../static/mo/site/js/script.js"></script>
  </body>
</html>