<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Pay</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="../static/mo/site/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900%7CRoboto:300,400,500,700,900">
    <link rel="stylesheet" href="../static/mo/site/css/bootstrap.css">
    <link rel="stylesheet" href="../static/mo/site/css/style.css">
    <link rel="stylesheet" href="../static/mo/site/css/fonts.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>

    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="../static/css/agency.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->
    <script src="../static/jsme/personal_info.js"></script>
  </head>

  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="../static/mo/site/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader loaded">
      <div class="banter-loader"> 
        <div class="banter-loader__box"> </div>
        <div class="banter-loader__box"> </div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-aside-outer">
              <div class="rd-navbar-aside">
                <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                <!--<ul class="rd-navbar-aside-list rd-navbar-collapse">-->
                  <!--<li>-->
                    <!--<div class="block-inline unit unit-spacing-xs align-items-center">-->
                      <!--<div class="unit-left"><span class="icon text-middle mdi mdi-email-outline"></span></div>-->
                      <!--<div class="unit-body"><a href="mailto:#">yujie.liu@student.unsw.edu.au</a></div>-->
                    <!--</div>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<div class="block-inline unit unit-spacing-xs align-items-center">-->
                      <!--<div class="unit-left"><span class="icon text-middle mdi mdi-email-outline"></span></div>-->
                      <!--<div class="unit-body"><a href="mailto:#">xilan.yuan@student.unsw.edu.au</a></div>-->
                    <!--</div>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<div class="block-inline unit unit-spacing-xs align-items-center">-->
                      <!--<div class="unit-left"><span class="icon text-middle mdi mdi-email-outline"></span></div>-->
                      <!--<div class="unit-body"><a href="mailto:#">hang.su@student.unsw.edu.au</a></div>-->
                    <!--</div>-->
                  <!--</li>-->
                <!--</ul>-->

              </div>
            </div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <a class="navbar-brand page-scroll" href="#page-top">trip NSW</a>

                      </div>
                </div>
<!--                <div class="rd-navbar-nav-wrap">-->
<!--                  &lt;!&ndash; RD Navbar Nav&ndash;&gt;-->
<!--                  -->
<!--                  <ul class="rd-navbar-nav">-->
<!--&lt;!&ndash;                    <li class="rd-nav-item"><a class="nav navbar-nav navbar-right" href="mainpage.html">Home</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--                    <li class="rd-nav-item"><a class="nav navbar-nav navbar-right" href="#" onclick="tomain()"><font size="4" color="#fed136">Home</font></a>-->
<!--                    </li>-->
<!--                    <li class="rd-nav-item"><a class="nav navbar-nav navbar-right"  href="#" onclick="jump_ad()"><font size="4" color="#fed136">Submit Property</font></a>-->
<!--                    </li>-->
<!--                    <li class="rd-nav-item"><a class="nav navbar-nav navbar-right" href="#" onclick="favo_check()"><font size="4" color="#fed136">Favorites</font></a>-->
<!--                    </li>-->
<!--                    <li class="rd-nav-item"><a class="nav navbar-nav navbar-right"  href="#" onclick="check_info()"><font size="4" color="#fed136">hi,{{userh}}</font></a>-->
<!--                      <ul class="rd-menu rd-navbar-dropdown">-->
<!--                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/tripnsw"><font size="4" color="#fed136">Logout</font></a></li>-->
<!--                      </ul>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </div>-->
                <div class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item"><a class="nav navbar-nav navbar-right" href="#" onclick="tomain()"><font size="4" color="#fed136">Home</font></a>
                    </li>
                    <li class="rd-nav-item"><a class="nav navbar-nav navbar-right" href="#" onclick="jump_ad()"><font size="4" color="#fed136">Submit Property</font></a>
                    </li>
                    <li class="rd-nav-item"><a class="nav navbar-nav navbar-right" href="#" onclick="favo_check()"><font size="4" color="#fed136">Favorites</font></a>
                    </li>
                    <li class="rd-nav-item"><a class="nav navbar-nav navbar-right"  href="#" onclick="check_info()"><font size="4" color="#fed136">hi, {{userh}}</font></a>
<!--                            <a class="nav navbar-nav navbar-right" href="#">Username</a>-->
                      <ul class="rd-menu rd-navbar-dropdown">
<!--                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#" onclick="check_info()"><font size="4" color="#fed136">View Profile</font></a></li>-->
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/tripnsw"><font size="4" color="#fed136">Logout</font></a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(../static/mo/site/images/breadcrumbs-bg-01-1922x291.jpg);">
        <div class="container">
          <h2 class="breadcrumbs-custom-title">Payment</h2>
        </div>
      </section>
      <!-- House Ordered-->
      <section class="section section-md bg-gray-12">
        <div class="container">
          <!-- RD Mailform-->
          <div class="row row-50">
            <div class="col-xl-8">
              <h3>House Information</h3>
              <div class="mt-35">
                <ul class="list-marked text-gray-1">
                  <li>House: {{h_title}}</li>
                  <li>Address: {{h_addr}}</li>
                  <li>Capacity: {{h_cap}}</li>
                  <li>Cost: {{h_price}}$/day</li>
                </ul>
              </div>
            </div>
          </div>
          <form class="rd-form rd-mailform" >
<!--            data-form-output="form-output-global" data-form-type="contact" method="post"-->
            <div class="row row-20">
              <!-- <div class="col-12">
                <div class="section-1">
                  <h3>Card details</h3>
                  <div class="row row-20 mt-20">
                    <div class="col-lg-4">
                      <div class="form-wrap">
                        <input class="form-input" id="form-name" type="text" name="name" data-constraints="@Required">
                        <label class="form-label" for="form-name">Your Card Number</label>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-wrap">
                        <input class="form-input" id="form-email" type="email" name="email" data-constraints="@Email @Required">
                        <label class="form-label" for="form-email">E-mail</label>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-wrap">
                        <input class="form-input" id="form-phone" type="text" name="phone" data-constraints="@PhoneNumber">
                        <label class="form-label" for="form-phone">Phone</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="col-12">
                <div class="section-1">
                  <h3>Lease Period</h3>
                  <div class="row row-20 mt-20">
                    <div class="col-md-4">
                      <div class="form-wrap">
                        <input class="form-input" id="pay_checkin" type="date" name="pay_checkin">
                        <label class="form-label" for="pay_checkin"></label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-wrap">
                        <input class="form-input" id="pay_checkout" type="date" name="pay_checkout">
                        <label class="form-label" for="pay_checkout"></label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-wrap">
                        <input class="form-input" id="pay_people" type="text" name="pay_people">
                        <label class="form-label" for="pay_people">Number Of People</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="section-1">
                  <h3>Card Details</h3>
                  <div class="row row-20 mt-20">
                    <div class="col-md-8">
                      <div class="form-wrap">
                        <input class="form-input" id="pc_number" type="text" name="pc_number">
                        <label class="form-label" for="pc_number">Your Card Number</label>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-wrap">
                        <input class="form-input" id="pc_date" type="text" name="pc_date">
                        <label class="form-label" for="pc_date">MM / YY</label>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-wrap">
                        <input class="form-input" id="pc_code" type="text" name="pc_code">
                        <label class="form-label" for="pc_code">CVV2</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="section-1">
                  <h3>Contact details</h3>
                  <div class="row row-20 mt-20">
                    <div class="col-lg-4">
                      <div class="form-wrap">
                        <input class="form-input" id="p_name" type="text" name="p_name" data-constraints="@Required">
                        <label class="form-label" for="p_name">Your Name</label>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-wrap">
                        <input class="form-input" id="p_mail" type="email" name="p_mail" data-constraints="@Email @Required">
                        <label class="form-label" for="p_mail">E-mail</label>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-wrap">
                        <input class="form-input" id="p_phone" type="text" name="p_phone" data-constraints="@PhoneNumber">
                        <label class="form-label" for="p_phone">Phone</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<!--              <div class="col-12">-->
<!--                <div class="form-wrap">-->
<!--                  <label class="form-label" for="form-comment">Comment (optional)</label>-->
<!--                  <textarea class="form-input" id="form-comment" name="comment"></textarea>-->
<!--                </div>-->
<!--              </div>-->
              <div class="col-12 mt-40 text-center">
                <div class="group-xl group-middle buttons-group">
                  <button class="button button-secondary button-circle button-shadow" type="submit" onclick="submit_pay()">Confirm</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
      <div class="divider-section"></div>
      <!-- Page Footer-->
      <!-- Pre footer section-->
      <section class="section section-md bg-gray-31 context-dark">
        <div class="container">
          <div class="row row-40 justify-content-lg-between">
            <!--<div class="col-md-6 col-lg-4 col-xl-3">-->
              <!--<h3 class="heading-square font-weight-sbold" data-item=".heading-square-item"><span class="heading-square-item"></span>Latest Properties</h3><a class="post-minimal" href="details.html">-->
                <!--<div class="post-minimal-image"><img src="../static/mo/site/images/post-minimal-01-161x136.jpg" alt="" width="161" height="136"/>-->
                <!--</div>-->
                <!--<div class="post-minimal-body">-->
                  <!--<div class="post-minimal-title"><span> Retail Store Southwest 186th Street</span></div>-->
                  <!--<div class="post-minimal-text"><span>From $120/month</span></div>-->
                <!--</div></a><a class="post-minimal" href="details.html">-->
                <!--<div class="post-minimal-image"><img src="../static/mo/site/images/post-minimal-02-161x136.jpg" alt="" width="161" height="136"/>-->
                <!--</div>-->
                <!--<div class="post-minimal-body">-->
                  <!--<div class="post-minimal-title"><span> Apartment Building with Subunits</span></div>-->
                  <!--<div class="post-minimal-text"><span>From $120/month</span></div>-->
                <!--</div></a>-->
            <!--</div>-->
            <div class="col-md-6 col-lg-4 col-xl-3 col-bordered">
              <h3 class="heading-square font-weight-sbold" data-item=".heading-square-item"><span class="heading-square-item"></span>Contact	Us</h3>
              <!-- <div class="link-with-icon heading-4 text-spacing-150 font-sec" data-item=".icon"><span class="icon icon-1 mdi mdi-phone"></span><a href="tel:#">1-800-700-6200</a></div> -->
              <div class="link-with-icon text-spacing-100" data-item=".icon"><span class="icon icon-2 mdi mdi-email-outline"></span><a href="mailto:#">yujie.liu@student.unsw.edu.au</a></div>
              <div class="link-with-icon text-spacing-100" data-item=".icon"><span class="icon icon-2 mdi mdi-email-outline"></span><a href="mailto:#">xilan.yuan@student.unsw.edu.au</a></div>
              <div class="link-with-icon text-spacing-100" data-item=".icon"><span class="icon icon-2 mdi mdi-email-outline"></span><a href="mailto:#">hang.su@student.unsw.edu.au</a></div>
              <!-- <div class="link-with-icon text-spacing-100" data-item=".icon"><span class="icon icon-3 mdi mdi-map-marker"></span><a href="#">3015 Grand Ave, Coconut<br style="line-height: 0"> Grove,Merrick Way, FL 12345</a></div> -->
            </div>
            <div class="col-lg-4">
              <h3 class="heading-square font-weight-sbold" data-item=".heading-square-item"><span class="heading-square-item"></span>Newsletter Signup</h3>
              <p class="rd-mailform-label">Enter your e-mail to get the latest news of Real Estate</p>
              <form class="rd-form rd-mailform rd-form-inline-1" data-form-output="form-output-global" data-form-type="subscribe" method="post" >
                <div class="form-wrap">
                  <input class="form-input" id="subscribe-form--email" type="email" name="email" data-constraints="@Email @Required">
                  <label class="form-label" for="subscribe-form--email">Your e-mail</label>
                </div>
                <div class="form-button">
                  <button class="button button-primary button-square" type="submit">Subscribe</button>
                </div>
              </form>
              <ul class="list-inline-1">
                <li><a class="icon fa-facebook" href="#"></a></li>
                <li><a class="icon fa-twitter" href="#"></a></li>
                <li><a class="icon fa-google-plus" href="#"></a></li>
                <li><a class="icon fa-pinterest-p" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Page footer-->
      <footer class="section footer-classic context-dark bg-gray-21">
        <div class="container">
          <div class="row row-10 justify-content-sm-between">
            <div class="col-sm-6">
              <!-- Rights-->
              <p class="rights"><span>tripNSW</span> <span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a>
              </p>
            </div>
            <div class="col-sm-6 text-sm-right">
              <div class="right-1"><a href="up-ad.html"><span class="icon mdi mdi-plus"></span>Submit Property</a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output -->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="../static/mo/site/js/core.min.js"></script>
    <script src="../static/mo/site/js/script.js"></script>
  </body>
</html>