<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>post ads</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="../static/mo/site/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900%7CRoboto:300,400,500,700,900">
    <link rel="stylesheet" href="../static/mo/site/css/bootstrap.css">
    <link rel="stylesheet" href="../static/mo/site/css/style.css">
    <link rel="stylesheet" href="../static/mo/site/css/fonts.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>

    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
<!--    <link href="../static/mo/site/css/agency.min.css" rel="stylesheet">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
<!--        <script Language="Javascript" src="../static/jsme/personal_info.js"></script>-->
        <script Language="Javascript" src="../static/jsme/logt.js"></script>
<!--        <script Language="Javascript" src="../static/jsme/post_ad.js"></script>-->
<!--        <script src="../static/jsme/personal_info.js"></script>-->
    <![endif]-->
    <script src="../static/jsme/personal_info.js"></script>
<!--    <script src="../static/jsme/logt.js"></script>-->

  </head>

  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="../static/mo/site/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader loaded">
      <div class="banter-loader"> 
        <div class="banter-loader__box"> </div>
        <div class="banter-loader__box"> </div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <!--<div class="rd-navbar-aside-outer">-->
              <!--<div class="rd-navbar-aside">-->
                <!--<div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>-->
                <!--<ul class="rd-navbar-aside-list rd-navbar-collapse">-->
                        <!--&lt;!&ndash; <li>-->
                          <!--<div class="block-inline unit unit-spacing-xs align-items-center">-->
                            <!--<div class="unit-left"><span class="icon text-middle mdi mdi-phone"></span></div>-->
                            <!--<div class="unit-body"><a href="tel:#">1-800-1234-567</a></div>-->
                          <!--</div>-->
                        <!--</li> &ndash;&gt;-->
                  <!--<li>-->
                    <!--<div class="block-inline unit unit-spacing-xs align-items-center">-->
                      <!--<div class="unit-left"><span class="icon text-middle mdi mdi-email-outline"></span></div>-->
                      <!--<div class="unit-body"><a href="mailto:#">yujie.liu@student.unsw.edu.au</a></div>-->
                    <!--</div>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<div class="block-inline unit unit-spacing-xs align-items-center">-->
                      <!--<div class="unit-left"><span class="icon text-middle mdi mdi-email-outline"></span></div>-->
                      <!--<div class="unit-body"><a href="mailto:#">xilan.yuan@student.unsw.edu.au</a></div>-->
                    <!--</div>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<div class="block-inline unit unit-spacing-xs align-items-center">-->
                      <!--<div class="unit-left"><span class="icon text-middle mdi mdi-email-outline"></span></div>-->
                      <!--<div class="unit-body"><a href="mailto:#">hang.su@student.unsw.edu.au</a></div>-->
                    <!--</div>-->
                  <!--</li>-->
                <!--</ul>-->

              <!--</div>-->
            <!--</div>-->
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <a class="navbar-brand page-scroll" href="#page-top" ><font size="5" color="#fed136">trip NSW</font></a>

                      </div>
                </div>
                <div class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item"><a class="nav navbar-nav navbar-right" href="#" onclick="tomain()"><font size="4" color="#fed136">Home</font></a>
                    </li>
                    <!-- <li class="rd-nav-item"><a class="nav navbar-nav navbar-right" href="up_ad.html">Submit Property</a>
                    </li> -->
                    <li class="rd-nav-item"><a class="nav navbar-nav navbar-right" href="#" onclick="favo_check()"><font size="4" color="#fed136">Favorites</font></a>
                    </li>
                    <li class="rd-nav-item"><a class="nav navbar-nav navbar-right"  href="#" onclick="check_info()"><font size="4" color="#fed136">hi,{{userh}}</font></a>
<!--                            <a class="nav navbar-nav navbar-right" href="#">Username</a>-->
                      <ul class="rd-menu rd-navbar-dropdown">
<!--                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#" onclick="check_info()"><font size="4" color="#fed136">View Profile</font></a></li>-->
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/tripnsw"><font size="4" color="#fed136">Logout</font></a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(../static/mo/site/images/breadcrumbs-bg-07-1920x420.jpg);">
        <div class="container">
          <h2 class="breadcrumbs-custom-title">Post Advertisement</h2>
        </div>
      </section>
      <!-- House Ordered-->
      
      <div class="divider-section"></div>
      <section class="section section-md bg-gray-12">
        <div class="container">
          <!-- RD Mailform-->
          <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post"> <!-- action="bat/rd-mailform.php" -->
            <div class="row row-20">
              <div class="col-12">
                <div class="section-1 section-1-start">
                  <h3>Basic Information</h3>
                  <div class="row row-20 mt-20">
                    <div class="col-8">
                      <div class="form-wrap">
                        <input class="form-input" id="property_title" type="text" name="property_title"  required="required">
                        <label class="form-label" for="property_title">Property Title</label>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-wrap">
                        <input class="form-input" id="property_capacity" type="text" name="property_capacity" required="required">
                        <label class="form-label" for="property_capacity">Capacity</label>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-wrap">
                        <input class="form-input" id="property_price" type="text" name="property_price" required="required">
                        <label class="form-label" for="property_price">Price</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-wrap">
                        <input class="form-input" id="property_address" type="text" name="property_address" required="required">
                        <label class="form-label" for="property_address">Address</label>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-wrap">
                        <input class="form-input" id="property_surburb" type="text" name="property_surburb" required="required">
                        <label class="form-label" for="property_surburb">Surburb</label>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-wrap">
                        <input class="form-input" id="property_postcode" type="text" name="property_postcode" required="required">
                        <label class="form-label" for="property_postcode">Postcode</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="section-1">
                  <h3>Detailed Information</h3>
                  <div class="row row-20 mt-20">
                    <!-- <div class="col-sm-6 col-lg-3">
                      <div class="form-wrap form-wrap-validation">
                        <select class="form-input select-filter" name="property-bathrooms" data-style="modern" data-placeholder="Bathrooms" data-minimum-results-for-search="Infinity" data-constraints="@Required">
                          <option label="placeholder"></option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="form-wrap form-wrap-validation">
                        <select class="form-input select-filter" name="property-bedrooms" data-style="modern" data-placeholder="Bedrooms" data-minimum-results-for-search="Infinity" data-constraints="@Required">
                          <option label="placeholder"></option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="form-wrap form-wrap-validation">
                        <select class="form-input select-filter" name="property-garages" data-style="modern" data-placeholder="Garages" data-minimum-results-for-search="Infinity" data-constraints="@Required">
                          <option label="placeholder"></option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="form-wrap">
                        <input class="form-input" id="property-area" type="text" name="property-area" data-constraints="@Numeric">
                        <label class="form-label" for="property-area">Area, Sq Ft</label>
                      </div>
                    </div> -->
                    <div class="col-12">
                      <div class="row row-10">
                        <div class="col-6 col-md-3">
                          <ul class="list-sm">
                            <li>
                              <label class="checkbox-inline">
                                <input id="checkbox_u1" name="checkbox_u1" value="g_bath" type="checkbox">Shower(General)
                              </label>
                            </li>
                            <li>
                              <label class="checkbox-inline">
                                <input id="checkbox_u2" name="checkbox_u2" value="breakfast" type="checkbox">Breakfast
                              </label>
                            </li>
                            <li>
                              <label class="checkbox-inline">
                                <input id="checkbox_u3" name="checkbox_u3" value="kitchen" type="checkbox">Kitchen
                              </label>
                            </li>
                            <li>
                              <label class="checkbox-inline">
                                <input id="checkbox_u4" name="checkbox_u4" value="air" type="checkbox">Air conditioned
                              </label>
                            </li>
                          </ul>
                        </div>
                        <div class="col-6 col-md-3">
                          <ul class="list-sm">
                            <li>
                              <label class="checkbox-inline">
                                <input id="checkbox_u5" name="checkbox_u5" value="swimming" type="checkbox">Swimming Pool
                              </label>
                            </li>
                            <li>
                              <label class="checkbox-inline">
                                <input id="checkbox_u6" name="checkbox_u6" value="daytrip" type="checkbox">Day trip
                              </label>
                            </li>
                            <li>
                              <label class="checkbox-inline">
                                <input id="checkbox_u7" name="checkbox_u7" value="bars" type="checkbox">Bars
                              </label>
                            </li>
                            <li>
                              <label class="checkbox-inline">
                                <input id="checkbox_u8" name="checkbox_u8" value="restaurants" type="checkbox">Restaurants
                              </label>
                            </li>
                          </ul>
                        </div>
                        <div class="col-6 col-md-3">
                          <ul class="list-sm">
                            <li>
                              <label class="checkbox-inline">
                                <input id="checkbox_u9" name="checkbox_u9" value="parties" type="checkbox">Parties
                              </label>
                            </li>
                            <li>
                              <label class="checkbox-inline">
                                <input id="checkbox_u10" name="checkbox_u10" value="parking" type="checkbox">Parking
                              </label>
                            </li>
                            <li>
                              <label class="checkbox-inline">
                                <input id="checkbox_u11" name="checkbox_u11" value="laundary" type="checkbox">Laundary Service
                              </label>
                            </li>
                            <li>
                              <label class="checkbox-inline">
                                <input id="checkbox_u12" name="checkbox_u12" value="translation" type="checkbox">Translation
                              </label>
                            </li>
                          </ul>
                        </div>
                        <div class="col-6 col-md-3">
                          <ul class="list-sm">
                            <li>
                              <label class="checkbox-inline">
                                <input id="checkbox_u13" name="checkbox_u13" value="d_bath" type="checkbox">Bath(Disabled)
                              </label>
                            </li>
                            <li>
                              <label class="checkbox-inline">
                                <input id="checkbox_u14" name="checkbox_u14" value="Wwheelchair" type="checkbox">Wheelchair
                              </label>
                            </li>
                            <li>
                              <label class="checkbox-inline">
                                <input id="checkbox_u15" name="checkbox_u15" value="elevator" type="checkbox">Barrier-free elevator
                              </label>
                            </li>
                            <li>
                              <label class="checkbox-inline">
                                <input id="checkbox_u16" name="checkbox_u16" value="dog" type="checkbox">Guide dog
                              </label>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<!--              <div class="col-12">-->
<!--                <div class="section-1">-->
<!--                  <h3>Contact details</h3>-->
<!--                  <div class="row row-20 mt-20">-->
<!--                    <div class="col-lg-4">-->
<!--                      <div class="form-wrap">-->
<!--                        <input class="form-input" id="form-name" type="text" name="form-name" data-constraints="@Required">-->
<!--                        <label class="form-label" for="form-name">Your Name</label>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4">-->
<!--                      <div class="form-wrap">-->
<!--                        <input class="form-input" id="form-email" type="email" name="form-email" data-constraints="@Email @Required">-->
<!--                        <label class="form-label" for="form-email">E-mail</label>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4">-->
<!--                      <div class="form-wrap">-->
<!--                        <input class="form-input" id="form-phone" type="text" name="form-phone" data-constraints="@PhoneNumber">-->
<!--                        <label class="form-label" for="form-phone">Phone</label>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
              <div class="col-12">
                <div class="section-1">
                  <h3>Gallery</h3>
                  <div class="rd-file-drop rd-file-drop-1" data-drop-zone="rd-file-drop-1" data-button="rd-file-drop-btn-1" data-field-element="rd-file-drop-meta-1">
                    <input name="gallery" data-multiple-caption="{count} files selected" type="file" multiple="multiple" id="gallery" required="required">
                    <div class="rd-file-drop-wrap"><span class="rd-file-drop-btn rd-file-drop-btn-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewbox="0 0 20 17">
                          <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
                        </svg><span class="rd-file-drop-text">Choose a file</span></span>
                      <p> or drag it here</p>
                    </div>
                    <div class="rd-file-drop-meta rd-file-drop-meta-1"></div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-wrap">
                  <label class="form-label" for="form_comment">service description (optional)</label>
                  <textarea class="form-input" id="form_comment" name="form_comment"></textarea>
                </div>
              </div>
              <div class="col-12 text-center">
                <button class="button button-sm button-secondary" type="submit" name="submit_ad" onclick="upnew_ads();">Submit Property</button>
              </div>
            </div>
          </form>
        </div>
      </section>
      <div class="divider-section"></div>

      <!-- Page Footer-->
      <!-- Pre footer section-->
      <section class="section section-md bg-gray-31 context-dark">
        <div class="container">
          <div class="row row-40 justify-content-lg-between">
            <!--<div class="col-md-6 col-lg-4 col-xl-3">-->
              <!--<h3 class="heading-square font-weight-sbold" data-item=".heading-square-item"><span class="heading-square-item"></span>Latest Properties</h3><a class="post-minimal" href="details.html">-->
                <!--<div class="post-minimal-image"><img src="../static/mo/site/images/post-minimal-01-161x136.jpg" alt="" width="161" height="136"/>-->
                <!--</div>-->
                <!--<div class="post-minimal-body">-->
                  <!--<div class="post-minimal-title"><span> Retail Store Southwest 186th Street</span></div>-->
                  <!--<div class="post-minimal-text"><span>From $120/month</span></div>-->
                <!--</div></a><a class="post-minimal" href="details.html">-->
                <!--<div class="post-minimal-image"><img src="../static/mo/site/images/post-minimal-02-161x136.jpg" alt="" width="161" height="136"/>-->
                <!--</div>-->
                <!--<div class="post-minimal-body">-->
                  <!--<div class="post-minimal-title"><span> Apartment Building with Subunits</span></div>-->
                  <!--<div class="post-minimal-text"><span>From $120/month</span></div>-->
                <!--</div></a>-->
            <!--</div>-->
            <div class="col-md-6 col-lg-4 col-xl-3 col-bordered">
              <h3 class="heading-square font-weight-sbold" data-item=".heading-square-item"><span class="heading-square-item"></span>Contact  Us</h3>
              <!-- <div class="link-with-icon heading-4 text-spacing-150 font-sec" data-item=".icon"><span class="icon icon-1 mdi mdi-phone"></span><a href="tel:#">1-800-700-6200</a></div> -->
              <div class="link-with-icon text-spacing-100" data-item=".icon"><span class="icon icon-2 mdi mdi-email-outline"></span><a href="mailto:#">yujie.liu@student.unsw.edu.au</a></div>
              <div class="link-with-icon text-spacing-100" data-item=".icon"><span class="icon icon-2 mdi mdi-email-outline"></span><a href="mailto:#">xilan.yuan@student.unsw.edu.au</a></div>
              <div class="link-with-icon text-spacing-100" data-item=".icon"><span class="icon icon-2 mdi mdi-email-outline"></span><a href="mailto:#">hang.su@student.unsw.edu.au</a></div>
              <!-- <div class="link-with-icon text-spacing-100" data-item=".icon"><span class="icon icon-3 mdi mdi-map-marker"></span><a href="#">3015 Grand Ave, Coconut<br style="line-height: 0"> Grove,Merrick Way, FL 12345</a></div> -->
            </div>
            <div class="col-lg-4">
              <h3 class="heading-square font-weight-sbold" data-item=".heading-square-item"><span class="heading-square-item"></span>Newsletter Signup</h3>
              <p class="rd-mailform-label">Enter your e-mail to get the latest news of Real Estate</p>
              <form class="rd-form rd-mailform rd-form-inline-1" data-form-output="form-output-global" data-form-type="subscribe" method="post">  <!-- action="bat/rd-mailform.php" -->
                <div class="form-wrap">
                  <input class="form-input" id="subscribe-form--email" type="email" name="email" data-constraints="@Email @Required">
                  <label class="form-label" for="subscribe-form--email">Your e-mail</label>
                </div>
                <div class="form-button">
                  <button class="button button-primary button-square" type="submit">Subscribe</button>
                </div>
              </form>
              <ul class="list-inline-1">
                <li><a class="icon fa-facebook" href="#"></a></li>
                <li><a class="icon fa-twitter" href="#"></a></li>
                <li><a class="icon fa-google-plus" href="#"></a></li>
                <li><a class="icon fa-pinterest-p" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Page footer-->
      <footer class="section footer-classic context-dark bg-gray-21">
        <div class="container">
          <div class="row row-10 justify-content-sm-between">
            <div class="col-sm-6">
              <!-- Rights-->
              <p class="rights"><span>tripNSW</span> <span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><a href="#">Privacy Policy</a>
              </p>
            </div>
            <div class="col-sm-6 text-sm-right">
              <div class="right-1"><a href="details.html"><span class="icon mdi mdi-plus"></span>Submit Property</a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output -->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="../static/mo/site/js/core.min.js"></script>
    <script src="../static/mo/site/js/script.js"></script>
  </body>
</html>